@font-face {
    font-family: "Futura New";
    src: url("../fonts/FuturaNewLight.otf") format("truetype");
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: "Futura New";
    src: url("../fonts/FuturaNewBook.otf") format("truetype");
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: "Futura New";
    src: url("../fonts/FuturaNewMedium.otf") format("truetype");
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: "Futura New";
    src: url("../fonts/FuturaNewDemi.otf") format("truetype");
    font-style: normal;
    font-weight: 600;
}
@font-face {
    font-family: "Futura New";
    src: url("../fonts/FuturaNewBold.otf") format("truetype");
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: "Futura New";
    src: url("../fonts/FuturaNewExtraBold.otf") format("truetype");
    font-style: normal;
    font-weight: 800;
}
@font-face {
    font-family: "Futura New";
    src: url("../fonts/FuturaNewHeavy.otf") format("truetype");
    font-style: normal;
    font-weight: 900;
}
@font-face {
    font-family: "Bebas";
    src: url("../fonts/BebasNeue Regular.otf") format("truetype");
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: "Bebas";
    src: url("../fonts/BebasNeue Bold.otf") format("truetype");
    font-style: normal;
    font-weight: 700;
}
