.footer {
    margin-bottom: 500px;
}

.footer-news {
    margin: 30px 0;
}

.b-news_footer {
    font-size: 0;
    margin: 0 -10px;
    @include mn768 {}
    .b-news {
        &__item {
            font-size: 16px;
            text-align: center;
            margin-bottom: 30px;
            padding: 0 10px;
            @include mn768 {
                width: 33.33%;
                max-width: none;
                display: inline-block;
                vertical-align: top;
            }
        }
        &__title,
        &__txt {
            text-align: left;
        }
        &__img {
            height: 0;
            padding-bottom: 70%;
            border-radius: 10px;
        }
    }
}

.footer-form {
    padding: 50px 0;
    background: #007bc3 url(../img/bg-form-bottom.jpg) right no-repeat;
    background-size: cover;
    @include mn1200 {
        background-position: center;
        padding: 130px 0 110px;
    }
}

.b-form_footer {
    @include mn1200 {
        padding-left: 30%;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: center;
    }
    .b-form {
        &__form {
            @include mn1200 {
                flex: 1 0 440px;
            }
        }
        &__title {
            text-align: center;
            font-family: "Bebas";
            color: white;
            margin-bottom: .5em;
            font-size: 42px;
            @include mn1200 {
            	text-align: left;
            	font-size: 53px;
            	margin-bottom: 20px;
            }
        }
        &__body {
            position: relative;
            max-width: 330px;
            margin: 0 auto;
            @include mn768 {
                max-width: 440px;
            }
        }
        &__input {
            font-size: 13px;
            padding: 15px 160px 15px 20px;
            @include placeholder {
                color: lightgrey;
                text-transform: uppercase;
            }
            @include mn768 {
                padding: 20px 200px 20px 30px;
            }
        }
        &__btn {
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            font-size: 10px;
            line-height: 27px;
            @include mn768 {
                font-size: 14px;
                line-height: 36px;
                padding: 10px 35px;
            }
        }
        &__txt {
            color: white;
            margin-top: 20px;
            padding: 0 40px;
            font-size: 20px;
            line-height: 1;
            text-align: center;
            @include mn1200 {
            	text-align: left;
            	margin-left: 30px;
            	margin-top: 0;
            	line-height: 1.2;
            }
        }
        &__tel {
            display: block;
            font-weight: 500;
            font-size: 36px;
            font-family: "Bebas";
            line-height: 1.2;
            margin: 0 auto;
            max-width: 220px;
            white-space: nowrap;
            @include icon-bundle-tel-white-25-25;
            @include mn1200 {
            	font-size: 42px;
            	margin-left: 0;
            	line-height: 1.4;
            }
            &:after {
                left: -35px;
            }
        }
    }
}