.footer {
    margin-bottom: 500px;
}

.footer-news {
    margin: 30px 0;
}

.b-news_footer {
    font-size: 0;
    margin: 0 -10px;
    @include mn768 {}
    .b-news {
        &__item {
            font-size: 16px;
            text-align: center;
            margin-bottom: 30px;
            padding: 0 10px;
            @include mn768 {
                width: 33.33%;
                max-width: none;
                display: inline-block;
                vertical-align: top;
            }
        }
        &__title,
        &__txt {
            text-align: left;
        }
        &__img {
            height: 0;
            padding-bottom: 70%;
            border-radius: 10px;
        }
    }
}

