input {
    background: #f0f3f5;
    border-radius: 50px;
    border: none;
    padding: 10px 20px;
    width: 100%;
}

.btn {
    display: inline-block;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    border: 0;
    padding: 10px 30px;
    border-radius: 50px;
    background-color: $color1;
    background-image: linear-gradient(to right, #0f6aa7 0%, $color1 100%);
    box-shadow: 0 10px 20px rgba(0, 91, 146, 0.2);
    color: white;
    &_c2 {
    	background: $color2;
    	color: #2b3338;
    }
}