// Usage: @include mixin_name {}
@mixin content-width {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

@mixin icons-bundle {
    position: relative;
    &::after {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        content: '';
        background: url('../img/icons-bundle.png') center no-repeat;
        background-position: 0px 0px;
        top: 50%;
        transform: translateY(-50%);
    }
}

@mixin icon-bundle-email-blue {
    @include icons-bundle;
    &::after {
        width: 20px;
        height: 10px;
        background-position: 3px 0px;
    }
}

@mixin icon-bundle-tel {
    @include icons-bundle;
    &::after {
        width: 20px;
        height: 16px;
        background-position: -45px 0px;
    }
}

@mixin icon-bundle-wallet {
    @include icons-bundle;
    &::after {
        width: 20px;
        height: 16px;
        background-position: -21px 0px;
    }
}

@mixin icon-bundle-tel-white-25-25 {
    @include icons-bundle;
    &::after {
        width: 25px;
        height: 25px;
        background-position: -68px 0px;
    }
}

@mixin image-more-hover {
    position: relative;
    &::before {
        opacity: 0;
        transition: opacity .5s 0s;
        content: '';
        background: rgba(0, 135, 216, 0.65) url(../img/icon-hover-news.png) center no-repeat;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
}

@mixin image-search-hover {
    position: relative;
    overflow: hidden;
    &::after,
    &::before {
        opacity: 0;
        transition: opacity .5s 0s;
        content: '';
        position: absolute;
    }
    &::before {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(0, 135, 216, 0.65);
    }
    &::after {
        width: 25px;
        height: 25px;
        background: url(../img/icons-bundle.png) no-repeat;
        background-position: -132px 0;
        top: 50%;
        left: 50%;
        margin-top: -12px;
        margin-left: -12px;
    }
    &:hover {
        &::before,
        &::after {
            opacity: 1;
        }
    }
}

@mixin arrow-prev {
    &::before {
        content: '';
        display: inline-block;
        width: 23px;
        height: 10px;
        background: url(../img/icons-bundle.png) no-repeat;
        background-position: -44px -24px;
        line-height: 1;
        opacity: .6;
    }
}

@mixin arrow-next {
    @include arrow-prev;
    &::before {
        background-position: -44px -36px;
    }
}

@mixin icon-circle-66x66 {
    width: 66px;
    height: 66px;
    background-color: #0087d8;
    background-image: linear-gradient(135deg, #0f6aa7 0%, #0087d8 100%);
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

.icon-bank {
    &::before {
        content: '';
        display: block;
        width: 38px;
        height: 34px;
        background: url(../img/icons-bundle.png) no-repeat;
        background-position: -319px -142px;
        position: relative;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}

.icon-notebook {
    @extend .icon-bank;
    &::before {
        background-position: -321px -176px;
    }
}

.icon-cash {
    @extend .icon-bank;
    &::before {
        background-position: -324px -210px;
    }
}

.icon-cell {
    @extend .icon-bank;
    &::before {
        background-position: -360px -142px;
    }
}

.icon-build {
    @extend .icon-bank;
    &::before {
        background-position: -359px -178px;
    }
}

.icon-document {
    @extend .icon-bank;
    &::before {
        background-position: -363px -210px;
    }
}

.icon-small-pay {
    @extend .icon-bank;
    &::before {
        width: 30px;
        height: 23px;
    }
}

.icon-visa {
    @extend .icon-small-pay;
    &::before {
        background-position: -451px -139px;
    }
}

.icon-mastercard {
    @extend .icon-small-pay;
    &::before {
        background-position: -450px -170px;
    }
}

.icon-maestro {
    @extend .icon-small-pay;
    &::before {
        background-position: -450px -199px;
    }
}

.icon-ym {
    @extend .icon-small-pay;
    &::before {
        background-position: -478px -143px;
    }
}

.icon-webmoney {
    @extend .icon-small-pay;
    &::before {
        background-position: -478px -177px;
    }
}

.icon-beeline {
    @extend .icon-small-pay;
    &::before {
        background-position: -398px -142px;
    }
}

.icon-megafon {
    @extend .icon-small-pay;
    &::before {
        background-position: -398px -174px;
    }
}

.icon-mts {
    @extend .icon-small-pay;
    &::before {
        background-position: -401px -202px;
        width: 23px;
    }
}

.icon-sber {
    @extend .icon-small-pay;
    &::before {
        background-position: -422px -141px;
    }
}

.icon-alfa {
    @extend .icon-small-pay;
    &::before {
        background-position: -422px -171px;
    }
}

.icon-masterpass {
    @extend .icon-small-pay;
    &::before {
        background-position: -422px -198px;
    }
}

.icon-promsv {
    @extend .icon-small-pay;
    &::before {
        background-position: -421px -229px;
    }
}