body {
    background: white;
    position: relative;
    min-width: 320px;
    font-family: "Futura New";
    font-size: 16px;
    color: #2b3338;
}

[data-aload] {
    background-image: none !important;
}

a:hover {
    text-decoration: underline;
}

.admin-bar #wpadminbar {
    top: -46px;
    @media (min-width: 601px) {
        top: 0;
    }
    @media (max-width: 991px) {
        overflow: hidden;
    }
}

.content {
    &__wrap {
        position: relative;
    }
}

.main-layout {
    &__sidebar {
        @include mn1200 {
            width: 276px;
            position: absolute;
            left: 0;
            right: 0;
        }
    }
    &__content {
        @include mn1200 {
            margin-left: 310px;
        }
    }
}

.block-title {
    font-family: "Bebas";
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: .8em;
    @include mn768 {
        font-size: 50px;
    }
}