body {
    background: white;
    position: relative;
    min-width: 320px;
    font-family: "Futura New";
    font-size: 16px;
    color: #2b3338;
}

[data-aload] {
    background-image: none !important;
}

.admin-bar #wpadminbar {
    top: -46px;
    @media (min-width: 601px) {
        top: 0;
    }
    @media (max-width: 991px) {
        overflow: hidden;
    }
}

.content {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 700;
    }
    h3 {
        font-size: 20px;
    }
    p {
        font-size: inherit;
        font-weight: inherit;
        margin-bottom: .5em;
    }
    &__inner {
        margin-top: 30px;
    }
    &__wrap {
        @include cf;
        margin-bottom: 50px;
    }
    &__title {
        color: #2b3338;
        font-size: 36px;
        font-weight: 700;
        margin-bottom: 40px;
    }
    &__body {}
    &__img {
        float: left;
        margin-right: 1em;
        margin-bottom: 1em;
    }
    ul,
    ol {
        margin: 1em 0;
    }
    ol {
        counter-reset: list 0;
    }
    li {
        padding-left: 15px;
        position: relative;
        margin-bottom: 10px;
        &::before {
            color: $color1;
            position: absolute;
            left: -6px;
        }
    }
    ul li::before {
        content: '\2022';
    }
    ol li::before {
        counter-increment: list;
        content: counter(list) ".";
    }
    &__txt {
        font-size: 18px;
        &_bg-grey {
            background: #f0f3f5;
            padding: 25px;
            border-radius: 10px;
        }
    }
    blockquote {
        background: $color2;
        margin: 20px 0;
        padding: 20px 30px;
        border-radius: 10px;
    }
    img {
        &.alignleft {
            float: left;
            margin-right: 1em;
            margin-bottom: .5em;
            max-width: 30%;
            @include mn768 {
                max-width: 50%;
            }
        }
    }
    hr {
        background: #f0f3f5;
        margin: 30px 0;
        display: block;
        height: 2px;
        border: 0;
    }
}

.main-layout {
    &__sidebar {
        @include mn1200 {
            width: 276px;
            float: left;
        }
    }
    &__content {
        @include mn1200 {
            margin-left: 310px;
            overflow: hidden;
        }
        >.b-grid {
            margin-top: 0;
        }
    }
}

.block-title {
    font-family: "Bebas";
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: .8em;
    @include mn768 {
        font-size: 50px;
    }
}

.pagi {
    .page-numbers {
        display: inline-block;
        vertical-align: middle;
        font-size: 14px;
        line-height: .8;
        padding: 6px 8px;
    }
    .current {
        background: $color1;
        color: white;
        border-radius: 50%;
        box-shadow: 0 10px 20px rgba(0, 91, 146, 0.2);
    }
    .next {
        @include arrow-next;
    }
    .prev {
        @include arrow-prev;
    }
}

.content-block {
    margin: 30px 0;
    font-size: 18px;
    &__title {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: .5em;
        @include mn768 {
            font-size: 30px;
        }
    }
}

.title-line {
    font-size: 20px;
    font-weight: 700;
    margin: 20px 0;
    display: flex;
    align-items: center;
    line-height: 1;
    @include mn768 {
        font-size: 24px;
    }
    &:after {
        content: '';
        display: inline-block;
        vertical-align: middle;
        height: 2px;
        background-color: #f0f3f5;
        width: 50px;
        flex-grow: 10;
    }
    span {
        display: inline-block;
        vertical-align: middle;
        padding-right: 1em;
    }
    &_blue {
        @extend .title-line;
        color: $color1;
        font-size: 24px;
        @include mn768 {
            font-size: 30px;
        }
        &:after {
            background-color: $color1;
        }
    }
    &_black {
        @extend .title-line;
        color: black;
        font-size: 24px;
        @include mn768 {
            font-size: 30px;
        }
        &:after {
            background-color: black;
        }
    }
}

.tablepress-responsible {
    overflow-x: auto;
}