.b-contacts {
    font-size: 0;
    &__item {
        margin-bottom: 20px;
        @include mn768 {
            width: 50%;
            display: inline-block;
            vertical-align: top;
            padding-right: 10px;
        }
    }
    &__icon {
        width: 66px;
        height: 66px;
        display: inline-block;
        vertical-align: middle;
        background: url(../img/icons-bundle.png) center no-repeat;
        background-position: -1px -285px;
        margin-right: 20px;
        &_adr {
            background-position: -141px -285px;
        }
        &_email {

            background-position: -71px -285px;
        }
        &_time {
            background-position: -211px -285px;
        }
    }
    &__text {
        display: inline-block;
        vertical-align: middle;
        font-size: 18px;
        width: calc(100% - 86px);
        span {
            display: block;
            color: $color1;
            margin-top: 5px;
        }
        a {
            font-size: 20px;
            font-weight: 700;
            text-decoration: underline;
            @include mn768 {
                font-size: 24px;
            }

            &:hover {
                text-decoration: none;
            }
        }
    }
}

.b-contacts-social {
    font-size: 16px;
    margin: 30px 0;
    text-align: center;
    @include mn768 {
        text-align: left;
    }
    &__caption {
        display: inline-block;
        vertical-align: middle;
        font-weight: 700;
        margin-bottom: 1em;
        width: 100%;
        @include mn768 {
            margin-right: 1em;
            margin-bottom: 0;
            width: auto;
        }
    }
    &__icon {
        display: inline-block;
        vertical-align: middle;
        margin: 5px;
        width: 44px;
        height: 44px;
        background: url(../img/icons-bundle.png) center no-repeat;
        &.social-icon-vk {
            background-position: -163px 0;
        }
        &.social-icon-fb {
            background-position: -210px 0;
        }
        &.social-icon-ok {
            background-position: -257px 0;
        }
        &.social-icon-inst {
            background-position: -303px 0;
        }
        &.social-icon-plus {
            background-position: -349px 0;
        }
    }
}

#map {
    height: 250px;
    @include mn768 {
        height: 480px;
    }
}