.main-slider {
    text-align: center;
    position: relative;
    &__item {
        background: url('') center no-repeat;
        background-size: cover;
    }
    &__inside {
        display: inline-block;
        padding: 50px 0 40px;
        @include mn1200 {
            min-height: 460px;
            padding-top: 90px;
        }
    }
    &__title {
        font-family: "Bebas";
        font-size: 30px;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 10px;
        @include mn1200 {
            font-size: 50px;
            text-align: left;
        }
    }
    &__desc {
        font-weight: 300;
        font-size: 18px;
        line-height: 1;
        margin-bottom: 20px;
        @include mn1200 {
            font-size: 20px;
            text-align: left;
        }
    }
    &__btn {
        font-size: 14px;
        padding: 20px;
        min-width: 200px;
    }
    &__arrows {
        color: #808990;
        font-weight: 700;
        position: absolute;
        z-index: 1;
        top: 10px;
        left: 0;
        right: 0;
        @include mn1200 {
            top: 30px;
        }
        span {
            display: inline-block;
            vertical-align: middle;
        }
    }
    &__arrow {
        font-size: 1em;
        width: 40px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        cursor: pointer;
        @include arrow-prev;
        &-next {
            @include arrow-next;
        }
        &-divider {
            padding: 0 2px;
        }
    }
}

.slider__item:not(:first-child) {
    display: none;
}

.slick-initialized .slider__item {
    display: block;
}

.js-slick {
    opacity: 0;
    transition: opacity 1s;
}

.js-slick.slick-initialized {
    opacity: 1;
}