.color1 {
  color: #0087d8; }

.color2 {
  color: #ffce47; }

.dark {
  color: #2b3338; }

html {
  padding: 0;
  margin: 0; }

body {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  color: #333;
  line-height: 1.2;
  padding: 0;
  margin: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

:focus {
  outline: none; }

h1 {
  font-size: inherit;
  margin: 0;
  padding: 0;
  line-height: 1; }

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none; }
  a:hover,
  a a:visited, a:focus {
    outline: none; }
  a:hover, a:focus {
    text-decoration: none; }

p {
  margin: 0; }

button:hover, button:focus {
  outline: none; }

img {
  max-width: 100%;
  height: auto;
  max-height: 100%; }

button,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  outline: none !important; }

button:active,
button:focus {
  outline: none !important; }

button::-moz-focus-inner {
  border: 0 !important; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal;
  display: block; }

input:focus {
  outline: none !important; }

::-webkit-input-placeholder {
  color: inherit;
  font-weight: 400; }
:-moz-placeholder {
  color: inherit;
  font-weight: 400; }
::-moz-placeholder {
  color: inherit;
  font-weight: 400; }
:-ms-input-placeholder {
  color: inherit;
  font-weight: 400; }
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

ul {
  padding: 0;
  margin: 0; }

li {
  list-style-position: inside;
  list-style: none; }

.input, textarea,
input {
  font-size: 14px;
  font-weight: 400;
  border: 0;
  border-radius: 0;
  background: transparent;
  border: 0;
  width: 100%;
  padding: 10px 20px; }

.cf {
  *zoom: 1; }
  .cf:before, .cf:after {
    content: "";
    display: table; }
  .cf:after {
    clear: both; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 1160px; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8; }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }

.mfp-preloader a {
  color: #CCC; }

.mfp-preloader a:hover {
  color: #FFF; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close,
button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  box-shadow: none;
  touch-action: manipulation; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }

.mfp-close:hover,
.mfp-close:focus {
  opacity: 1; }

.mfp-close:active {
  top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333; }

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap; }

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent; }

.mfp-arrow:active {
  margin-top: -54px; }

.mfp-arrow:hover,
.mfp-arrow:focus {
  opacity: 1; }

.mfp-arrow:before,
.mfp-arrow:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 35px;
  margin-left: 35px;
  border: medium inset transparent; }

.mfp-arrow:after {
  border-top-width: 13px;
  border-bottom-width: 13px;
  top: 8px; }

.mfp-arrow:before {
  border-top-width: 21px;
  border-bottom-width: 21px;
  opacity: 0.7; }

.mfp-arrow-left {
  left: 0; }

.mfp-arrow-left:after {
  border-right: 17px solid #FFF;
  margin-left: 31px; }

.mfp-arrow-left:before {
  margin-left: 25px;
  border-right: 27px solid #3F3F3F; }

.mfp-arrow-right {
  right: 0; }

.mfp-arrow-right:after {
  border-left: 17px solid #FFF;
  margin-left: 39px; }

.mfp-arrow-right:before {
  border-left: 27px solid #3F3F3F; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }

.mfp-iframe-holder .mfp-content {
  line-height: 0;
  width: 100%;
  max-width: 900px; }

.mfp-iframe-holder .mfp-close {
  top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }

.mfp-iframe-scaler iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #000; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
  line-height: 0; }

.mfp-figure:after {
  content: '';
  position: absolute;
  left: 0;
  top: 40px;
  bottom: 40px;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #444; }

.mfp-figure small {
  color: #BDBDBD;
  display: block;
  font-size: 12px;
  line-height: 14px; }

.mfp-figure figure {
  margin: 0; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }

  .mfp-img-mobile img.mfp-img {
    padding: 0; }

  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }

  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; }

  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    box-sizing: border-box; }

  .mfp-img-mobile .mfp-bottom-bar:empty {
    padding: 0; }

  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }

  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; } }
@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }

  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0; }

  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%; }

  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; } }
@font-face {
  font-family: "Futura New";
  src: url("../fonts/FuturaNewLight.otf") format("truetype");
  font-style: normal;
  font-weight: 300; }
@font-face {
  font-family: "Futura New";
  src: url("../fonts/FuturaNewBook.otf") format("truetype");
  font-style: normal;
  font-weight: 400; }
@font-face {
  font-family: "Futura New";
  src: url("../fonts/FuturaNewMedium.otf") format("truetype");
  font-style: normal;
  font-weight: 500; }
@font-face {
  font-family: "Futura New";
  src: url("../fonts/FuturaNewDemi.otf") format("truetype");
  font-style: normal;
  font-weight: 600; }
@font-face {
  font-family: "Futura New";
  src: url("../fonts/FuturaNewBold.otf") format("truetype");
  font-style: normal;
  font-weight: 700; }
@font-face {
  font-family: "Futura New";
  src: url("../fonts/FuturaNewExtraBold.otf") format("truetype");
  font-style: normal;
  font-weight: 800; }
@font-face {
  font-family: "Futura New";
  src: url("../fonts/FuturaNewHeavy.otf") format("truetype");
  font-style: normal;
  font-weight: 900; }
@font-face {
  font-family: "Bebas";
  src: url("../fonts/BebasNeue Regular.otf") format("truetype");
  font-style: normal;
  font-weight: 400; }
@font-face {
  font-family: "Bebas";
  src: url("../fonts/BebasNeue Bold.otf") format("truetype");
  font-style: normal;
  font-weight: 700; }
body {
  background: white;
  position: relative;
  min-width: 320px;
  font-family: "Futura New";
  font-size: 16px;
  color: #2b3338; }

[data-aload] {
  background-image: none !important; }

.admin-bar #wpadminbar {
  top: -46px; }
  @media (min-width: 601px) {
    .admin-bar #wpadminbar {
      top: 0; } }
  @media (max-width: 991px) {
    .admin-bar #wpadminbar {
      overflow: hidden; } }

.content__inner {
  margin-top: 30px; }
.content__wrap {
  *zoom: 1;
  margin-bottom: 50px; }
  .content__wrap:before, .content__wrap:after {
    content: "";
    display: table; }
  .content__wrap:after {
    clear: both; }
.content__title {
  color: #2b3338;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 40px; }
.content__body {
  overflow: hidden; }
.content__img {
  float: left;
  margin-right: 1em;
  margin-bottom: 1em; }

@media (min-width: 1200px) {
  .main-layout__sidebar {
    width: 276px;
    float: left; } }
@media (min-width: 1200px) {
  .main-layout__content {
    margin-left: 310px; } }
.main-layout__content > .b-grid {
  margin-top: 0; }

.block-title {
  font-family: "Bebas";
  font-size: 30px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: .8em; }
  @media (min-width: 768px) {
    .block-title {
      font-size: 50px; } }

.pagi .page-numbers {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  line-height: .8;
  padding: 6px 8px; }
.pagi .current {
  background: #0087d8;
  color: white;
  border-radius: 50%;
  box-shadow: 0 10px 20px rgba(0, 91, 146, 0.2); }
.pagi .next:before {
  content: '';
  display: inline-block;
  width: 23px;
  height: 10px;
  background: url(../img/icons-bundle.png) no-repeat;
  background-position: -44px -24px;
  line-height: 1;
  opacity: .6; }
.pagi .next:before {
  background-position: -44px -36px; }
.pagi .prev:before {
  content: '';
  display: inline-block;
  width: 23px;
  height: 10px;
  background: url(../img/icons-bundle.png) no-repeat;
  background-position: -44px -24px;
  line-height: 1;
  opacity: .6; }

.content-block {
  margin: 30px 0; }

.title-line {
  font-size: 20px;
  font-weight: 700;
  margin: 20px 0;
  display: flex;
  align-items: center;
  line-height: 1; }
  @media (min-width: 768px) {
    .title-line {
      font-size: 24px; } }
  .title-line:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 2px;
    background-color: #f0f3f5;
    width: 50px;
    flex-grow: 10; }
  .title-line span {
    display: inline-block;
    vertical-align: middle;
    padding-right: 1em; }
  .title-line_blue {
    color: #0087d8;
    font-size: 24px; }
    @media (min-width: 768px) {
      .title-line_blue {
        font-size: 30px; } }
    .title-line_blue:after {
      background-color: #0087d8; }

.b-about-target__body {
  background: #0087d8 url(../img/icon-quote.png) no-repeat;
  background-position: left 50px bottom 30px;
  color: white;
  font-size: 18px;
  font-weight: 300;
  border-radius: 10px;
  padding: 25px;
  line-height: 1.4; }
.b-about-target__sing {
  text-align: right;
  margin-top: 15px; }

@media (min-width: 768px) {
  .b-about-worth .b-bullet__item {
    width: 33.33%; } }
@media (min-width: 768px) {
  .b-about-worth .b-bullet__item .b-bullet__img-wrap:after,
  .b-about-worth .b-bullet__item .b-bullet__img-wrap:before {
    content: '';
    width: 30px;
    height: 30px;
    background-color: #ffce47;
    box-shadow: 0 10px 20px rgba(0, 91, 146, 0.2);
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    margin-top: -15px;
    right: -15px; } }
.b-about-worth .b-bullet__item .b-bullet__img-wrap:before {
  left: -15px; }
.b-about-worth .b-bullet__item_1 .b-bullet__img-wrap:before {
  display: none; }
  @media (min-width: 768px) {
    .b-about-worth .b-bullet__item_1 .b-bullet__img-wrap:before {
      display: block;
      height: 3px;
      background: #ffce47;
      left: 100%;
      border-radius: 0;
      width: 200px;
      right: auto;
      margin-top: -1px;
      z-index: -1; } }
.b-about-worth .b-bullet__item_1 .b-bullet__img {
  width: 100px;
  height: 97px;
  background-position: 0px -152px; }
.b-about-worth .b-bullet__item_2 .b-bullet__img {
  width: 118px;
  height: 132px;
  background-position: -104px -151px; }
.b-about-worth .b-bullet__item_3 .b-bullet__img-wrap:after {
  display: none; }
  @media (min-width: 768px) {
    .b-about-worth .b-bullet__item_3 .b-bullet__img-wrap:after {
      display: block;
      height: 3px;
      background: #ffce47;
      right: 100%;
      border-radius: 0;
      width: 200px;
      left: auto;
      margin-top: -1px;
      z-index: -1; } }
.b-about-worth .b-bullet__item_3 .b-bullet__img {
  width: 94px;
  height: 90px;
  background-position: -225px -151px; }

.content_about .content__body {
  margin: 30px 0; }
.content_about .content__txt {
  background: #f0f3f5;
  padding: 25px;
  border-radius: 10px;
  font-size: 18px; }

input {
  background: #f0f3f5;
  border-radius: 50px;
  border: none;
  padding: 10px 20px;
  width: 100%; }

.btn {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  border: 0;
  padding: 10px 30px;
  border-radius: 50px;
  box-shadow: 0 10px 20px rgba(0, 91, 146, 0.2);
  background-color: #0087d8;
  background-image: linear-gradient(to right, #0f6aa7 0%, #0087d8 100%);
  color: white; }
  .btn_c2 {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    border: 0;
    padding: 10px 30px;
    border-radius: 50px;
    box-shadow: 0 10px 20px rgba(0, 91, 146, 0.2);
    background: #ffce47;
    color: #2b3338; }
  .btn:hover {
    text-decoration: none;
    color: white; }

.header {
  background: url(../img/bg-header.png) top left no-repeat;
  background-size: contain; }
  @media (min-width: 992px) {
    .header {
      background-size: auto 100px; } }
  @media (min-width: 1400px) {
    .header {
      background-position: 6% top; } }
  .header__inner {
    padding: 10px 0;
    text-align: center; }
    @media (min-width: 992px) {
      .header__inner {
        padding: 15px 0 20px; } }
  .header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-bottom: 45px; }
    @media (min-width: 768px) {
      .header__top {
        padding-bottom: 0; } }
    @media (min-width: 992px) {
      .header__top {
        align-items: flex-end; } }
  .header__logo {
    width: 100px; }
    @media (min-width: 768px) {
      .header__logo {
        width: auto; } }
    @media (min-width: 992px) {
      .header__logo {
        width: 230px;
        flex-shrink: 0; } }
  .header__logo-txt {
    display: none;
    padding-left: 20px;
    position: relative; }
    .header__logo-txt:after {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      content: '';
      background: url("../img/icons-bundle.png") center no-repeat;
      background-position: 0px 0px;
      top: 50%;
      transform: translateY(-50%); }
    .header__logo-txt:after {
      width: 20px;
      height: 16px;
      background-position: -21px 0px; }
    @media (min-width: 768px) {
      .header__logo-txt {
        display: block; } }
    @media (min-width: 992px) {
      .header__logo-txt {
        margin-top: 10px; } }
  .header__tagline, .header__call-btn {
    display: none; }
    @media (min-width: 992px) {
      .header__tagline, .header__call-btn {
        display: block; } }
  @media (min-width: 992px) {
    .header__tagline {
      text-align: left;
      margin-bottom: 17px;
      font-size: 18px; } }
  @media (min-width: 992px) {
    .header__call-btn {
      width: 190px;
      margin: 10px auto 0; } }
  .header__center {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0; }
    @media (min-width: 768px) {
      .header__center {
        position: static;
        margin: 0 20px;
        flex-shrink: 0; } }
    @media (min-width: 992px) {
      .header__center {
        flex-shrink: 2;
        max-width: 500px; } }
  .header__search {
    max-width: 400px;
    margin: 0 auto; }
    @media (min-width: 992px) {
      .header__search {
        max-width: none; } }
    .header__search-form {
      position: relative; }
    .header__search-input {
      color: #282828;
      font-size: 15px;
      font-weight: 300;
      padding: 9px 110px 9px 10px;
      text-overflow: ellipsis; }
    .header__search-btn {
      position: absolute;
      right: 0;
      top: 0; }
  @media (min-width: 768px) {
    .header__right {
      margin: 0 20px; } }
  @media (min-width: 992px) {
    .header__right {
      width: 200px;
      flex-shrink: 0; } }
  .header__email, .header__tel {
    display: inline-block;
    margin: 0 5px;
    line-height: 1.2;
    padding-left: 20px; }
  .header__tel {
    position: relative;
    font-size: 18px;
    font-weight: 700; }
    .header__tel:after {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      content: '';
      background: url("../img/icons-bundle.png") center no-repeat;
      background-position: 0px 0px;
      top: 50%;
      transform: translateY(-50%); }
    .header__tel:after {
      width: 20px;
      height: 16px;
      background-position: -45px 0px; }
    .header__tel:hover {
      text-decoration: none; }
    @media (min-width: 550px) {
      .header__tel {
        font-size: 20px; } }
    @media (min-width: 992px) {
      .header__tel {
        margin-top: 5px; } }
  .header__email {
    position: relative;
    font-size: 19px;
    font-weight: 300;
    text-decoration: underline;
    color: #0087d8; }
    .header__email:after {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      content: '';
      background: url("../img/icons-bundle.png") center no-repeat;
      background-position: 0px 0px;
      top: 50%;
      transform: translateY(-50%); }
    .header__email:after {
      width: 20px;
      height: 10px;
      background-position: 3px 0px; }
    .header__email:hover {
      color: #0087d8;
      text-decoration: none; }

.mmenu-btn {
  width: 30px;
  display: block;
  text-decoration: none; }
  @media (min-width: 992px) {
    .mmenu-btn {
      display: none; } }
  .mmenu-btn:hover {
    text-decoration: none; }
  .mmenu-btn span {
    display: block;
    background: #0087d8;
    height: 4px; }
    .mmenu-btn span + span {
      margin-top: 4px; }

#breadcrumbs {
  color: #0878bf;
  font-size: 14px;
  font-weight: 300;
  background: #ecf0f3;
  text-transform: uppercase;
  padding: 10px 0; }
  @media (min-width: 768px) {
    #breadcrumbs {
      padding: 20px 0; } }
  #breadcrumbs a {
    color: inherit;
    text-decoration: underline; }
    #breadcrumbs a:hover {
      text-decoration: none; }
  #breadcrumbs .breadcrumb_last {
    color: #01121c; }

.header__menu {
  position: absolute;
  top: -50px;
  z-index: 1;
  background: rgba(255, 255, 255, 0.8);
  left: auto;
  right: 10px;
  box-shadow: 0 0 2px grey;
  padding: 10px 20px;
  text-transform: uppercase;
  display: none; }
  @media (min-width: 768px) {
    .header__menu {
      top: -20px; } }
  @media (min-width: 992px) {
    .header__menu {
      position: static;
      display: block;
      box-shadow: none;
      color: white;
      background: inherit;
      padding: 0; } }
  @media (min-width: 992px) {
    .header__menu-wrap {
      background: #2b3338; } }
  .header__menu-wrap .container {
    position: relative; }

.topmenu {
  font-size: 14px;
  font-weight: 500;
  line-height: 1; }
  @media (min-width: 992px) {
    .topmenu {
      display: flex;
      justify-content: space-between;
      align-items: center; } }
  .topmenu .menu-item {
    padding: 5px 0; }
    @media (min-width: 992px) {
      .topmenu .menu-item {
        padding: 18px; } }
    .topmenu .menu-item:hover {
      color: #2b3338;
      background: #ffce47; }
  .topmenu a {
    text-decoration: none; }
    .topmenu a:hover {
      text-decoration: none; }

.slick-prev, .b-partners-logo__arrow-prev,
.slick-next,
.b-partners-logo__arrow-next {
  width: 16px;
  height: 31px;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -15px;
  background: url(../img/icons-bundle.png) center no-repeat;
  background-position: -21px -18px;
  cursor: pointer;
  text-indent: -999em;
  border: 0;
  -webkit-appearance: none;
  z-index: 1; }

.slick-prev, .b-partners-logo__arrow-prev {
  left: 10px;
  background-position: 0 -18px; }

.main-slider {
  text-align: center;
  position: relative; }
  .main-slider__item {
    background: url("") center no-repeat;
    background-size: cover; }
  .main-slider__inside {
    display: inline-block;
    padding: 50px 0 40px; }
    @media (min-width: 1200px) {
      .main-slider__inside {
        min-height: 460px;
        padding-top: 90px; } }
  .main-slider__title {
    font-family: "Bebas";
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px; }
    @media (min-width: 1200px) {
      .main-slider__title {
        font-size: 50px;
        text-align: left; } }
  .main-slider__desc {
    font-weight: 300;
    font-size: 18px;
    line-height: 1;
    margin-bottom: 20px; }
    @media (min-width: 1200px) {
      .main-slider__desc {
        font-size: 20px;
        text-align: left; } }
  .main-slider__btn {
    font-size: 14px;
    padding: 20px;
    min-width: 200px; }
  .main-slider__arrows {
    color: #808990;
    font-weight: 700;
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 0;
    right: 0; }
    @media (min-width: 1200px) {
      .main-slider__arrows {
        top: 30px; } }
    .main-slider__arrows span {
      display: inline-block;
      vertical-align: middle; }
  .main-slider__arrow {
    font-size: 1em;
    width: 40px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    cursor: pointer; }
    .main-slider__arrow:before {
      content: '';
      display: inline-block;
      width: 23px;
      height: 10px;
      background: url(../img/icons-bundle.png) no-repeat;
      background-position: -44px -24px;
      line-height: 1;
      opacity: .6; }
    .main-slider__arrow-next:before {
      content: '';
      display: inline-block;
      width: 23px;
      height: 10px;
      background: url(../img/icons-bundle.png) no-repeat;
      background-position: -44px -24px;
      line-height: 1;
      opacity: .6; }
    .main-slider__arrow-next:before {
      background-position: -44px -36px; }
    .main-slider__arrow-divider {
      padding: 0 2px; }

.slider__item:not(:first-child) {
  display: none; }

.slick-initialized .slider__item {
  display: block; }

.js-slick {
  opacity: 0;
  transition: opacity 1s; }

.js-slick.is_showed,
.js-slick.slick-initialized {
  opacity: 1; }

.b-slider-big__img {
  background: url("") center no-repeat;
  background-size: cover;
  height: 0;
  padding-bottom: 70%;
  border-radius: 10px; }
.b-slider-big .slick-prev, .b-slider-big .b-partners-logo__arrow-prev {
  background-position: -96px 0; }
.b-slider-big .slick-next, .b-slider-big .b-partners-logo__arrow-next {
  background-position: -112px 0; }

.b-slider-thumb {
  margin-top: 10px; }
  .b-slider-thumb__wrap {
    display: none; }
    @media (min-width: 768px) {
      .b-slider-thumb__wrap {
        display: block; } }
  .b-slider-thumb__item {
    padding: 7px; }
  .b-slider-thumb__img {
    background: url("") center no-repeat;
    background-size: cover;
    height: 60px;
    border-radius: 5px; }

.b-get-calc {
  background-color: #0087d8;
  background-image: linear-gradient(to right, #0f6aa7 0%, #0087d8 100%);
  text-align: center;
  color: white;
  font-size: 26px;
  padding: 23px 0;
  line-height: 1; }
  @media (min-width: 992px) {
    .b-get-calc {
      font-size: 30px; } }
  @media (min-width: 1200px) {
    .b-get-calc {
      font-size: 36px; } }
  @media (min-width: 768px) {
    .b-get-calc__inner {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      justify-content: space-between;
      align-items: center; } }
  .b-get-calc__caption {
    font-family: "Bebas"; }
  .b-get-calc__text {
    font-size: .5em;
    margin: 1em; }
  .b-get-calc__btn {
    display: inline-block; }
    @media (min-width: 992px) {
      .b-get-calc__btn {
        width: 200px;
        padding: 20px 15px;
        font-size: 14px; } }

.b-partners-logo {
  margin: 30px 0; }
  .b-partners-logo__body {
    position: relative;
    padding: 10px 40px; }
  .b-partners-logo__item {
    height: 70px;
    text-align: center; }
    .b-partners-logo__item:after {
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 0;
      height: 100%; }
    .b-partners-logo__item img {
      display: inline-block !important;
      vertical-align: middle; }

.b-bullet__items {
  font-size: 0;
  text-align: center; }
.b-bullet__item {
  width: 225px;
  padding: 20px;
  display: inline-block;
  vertical-align: top;
  font-size: 16px; }
.b-bullet__num {
  position: absolute;
  right: 5px;
  top: 5px;
  background-color: #ffce47;
  box-shadow: 0 10px 20px rgba(0, 91, 146, 0.2);
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  font-size: 40px;
  font-weight: 500;
  text-transform: uppercase;
  font-family: "Bebas";
  z-index: 1; }
.b-bullet__caption {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center; }
  .b-bullet__caption:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 100%; }
  .b-bullet__caption span {
    display: inline-block;
    vertical-align: middle; }
.b-bullet__img-wrap {
  width: 180px;
  height: 180px;
  max-width: 100%;
  margin: 0 auto 20px;
  background-color: #0087d8;
  background-image: linear-gradient(135deg, #0f6aa7 0%, #0087d8 100%);
  border-radius: 50%;
  position: relative; }
.b-bullet__img {
  background: url("../img/icons-bundle.png") center no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.b-why-choose {
  margin: 30px 0;
  padding: 50px 0;
  background-color: #f0f3f5;
  background-image: linear-gradient(to right, rgba(193, 193, 202, 0.25) 0%, rgba(234, 235, 238, 0.25) 100%);
  text-align: center; }
  .b-why-choose .b-bullet__item_1 .b-bullet__img {
    background-position: 0 -53px;
    width: 84px;
    height: 95px; }
  .b-why-choose .b-bullet__item_2 .b-bullet__img {
    background-position: -89px -61px;
    width: 68px;
    height: 74px; }
  .b-why-choose .b-bullet__item_3 .b-bullet__img {
    background-position: -162px -64px;
    width: 73px;
    height: 73px; }
  .b-why-choose .b-bullet__item_4 .b-bullet__img {
    background-position: -240px -66px;
    width: 74px;
    height: 70px; }
  .b-why-choose .b-bullet__item_5 .b-bullet__img {
    background-position: -319px -66px;
    width: 77px;
    height: 69px; }

.b-managers__items {
  margin: 0 -12px;
  font-size: 0; }
.b-managers__item {
  width: 25%;
  display: inline-block;
  vertical-align: top;
  padding: 12px;
  font-size: 16px;
  text-align: center; }
.b-managers__img-wrap {
  margin-bottom: 10px; }
.b-managers__img {
  background: url("") center no-repeat;
  background-size: cover;
  height: 0;
  padding-bottom: 100%; }
.b-managers__name {
  font-weight: 700;
  margin: 15px 0 5px; }
.b-managers__email {
  position: relative;
  display: inline-block;
  padding-left: 25px;
  color: #0087d8;
  text-decoration: underline; }
  .b-managers__email:after {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    background: url("../img/icons-bundle.png") center no-repeat;
    background-position: 0px 0px;
    top: 50%;
    transform: translateY(-50%); }
  .b-managers__email:after {
    width: 20px;
    height: 10px;
    background-position: 3px 0px; }
  .b-managers__email:after {
    margin-top: 3px; }
  .b-managers__email::hover {
    text-decoration: none; }

.b-grid {
  margin: 30px 0; }
  .b-grid__title {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 1em;
    text-align: center; }
    @media (min-width: 768px) {
      .b-grid__title {
        font-size: 30px; } }
    @media (min-width: 1200px) {
      .b-grid__title {
        text-align: left; } }
  .b-grid__items {
    text-align: center;
    font-size: 0;
    margin: 0 -10px; }
    @media (min-width: 1200px) {
      .b-grid__items {
        text-align: left; } }
  .b-grid-item {
    width: 50%;
    max-width: 175px;
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center; }
    @media (min-width: 1200px) {
      .b-grid-item {
        max-width: none;
        width: 25%; } }
    .b-grid-item__img {
      background: url(../img/tmp/grid-elem.jpg) center no-repeat;
      background-size: cover;
      padding-bottom: 105%; }
    .b-grid-item__caption {
      font-size: 16px;
      font-weight: 300;
      color: #2b3338;
      margin: 10px 0; }
    .b-grid-item__btn {
      font-size: 12px;
      font-weight: 400; }

.sidebar {
  display: none; }
  @media (min-width: 1200px) {
    .sidebar {
      display: block; } }

.b-widget {
  margin-bottom: 40px; }
  .b-widget__title {
    font-family: "Bebas";
    color: white;
    font-size: 22px;
    background: #2b3338;
    padding: 20px 25px; }

.b-widget_news .b-widget__title {
  background: #0087d8; }

.b-news {
  text-align: center; }
  .b-news__item {
    text-align: left; }
  .b-news__body {
    position: relative;
    max-height: 160px;
    overflow: hidden;
    padding-bottom: 20px;
    margin-bottom: 20px; }
    .b-news__body:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 50px;
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0), white 100%); }
  .b-news__link {
    display: block; }
    .b-news__link:hover {
      text-decoration: none; }
      .b-news__link:hover .b-news__title {
        text-decoration: underline; }
      .b-news__link:hover .b-news__img:before {
        opacity: 1; }
  .b-news__img {
    background: url("") center no-repeat;
    background-size: cover;
    height: 200px;
    margin-bottom: 20px;
    position: relative; }
    .b-news__img:before {
      opacity: 0;
      transition: opacity .5s 0s;
      content: '';
      background: rgba(0, 135, 216, 0.65) url(../img/icon-hover-news.png) center no-repeat;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0; }
  .b-news__title {
    display: block;
    color: #0087d8;
    font-size: 18px;
    font-weight: 700;
    margin: 10px 0 15px; }
  .b-news__btn_more {
    font-size: 12px;
    padding: 15px 10px;
    min-width: 190px; }

.b-content {
  margin: 30px 0;
  font-size: 16px;
  font-weight: 300; }
  .b-content h1, .b-content h2, .b-content h3, .b-content h4, .b-content h5, .b-content h6 {
    font-weight: 700; }
  .b-content h3 {
    font-size: 20px; }
  .b-content p {
    font-size: inherit;
    font-weight: inherit; }

.content__list .b-news {
  margin-bottom: 20px; }
.content__list .b-news__item {
  padding-bottom: 25px;
  margin-top: 25px;
  border-bottom: 1px solid #f0f3f5;
  position: relative; }
  @media (min-width: 768px) {
    .content__list .b-news__item {
      height: 215px;
      padding-left: 320px; } }
@media (min-width: 768px) {
  .content__list .b-news__item_without-img {
    padding-left: 0; } }
.content__list .b-news__title {
  text-decoration: underline; }
  @media (min-width: 768px) {
    .content__list .b-news__title {
      margin-top: 0; } }
  .content__list .b-news__title:hover {
    text-decoration: none; }
@media (min-width: 768px) {
  .content__list .b-news__link {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 25px;
    width: 290px; } }
.content__list .b-news__img {
  border-radius: 10px;
  max-width: 300px; }
  @media (min-width: 768px) {
    .content__list .b-news__img {
      height: 100%;
      max-width: none; } }
.content__list .b-news__body {
  margin-bottom: 10px; }
.content__list .b-news__btn-more {
  color: #0087d8;
  font-size: 18px;
  font-weight: 300;
  text-decoration: underline; }
  .content__list .b-news__btn-more:hover {
    text-decoration: none; }

.archive .content__title {
  margin-bottom: 20px; }

.footer {
  margin-bottom: 500px; }

.footer-news {
  margin: 30px 0; }

.b-news_footer {
  font-size: 0;
  margin: 0 -10px; }
  .b-news_footer .b-news__item {
    font-size: 16px;
    text-align: center;
    margin-bottom: 30px;
    padding: 0 10px; }
    @media (min-width: 768px) {
      .b-news_footer .b-news__item {
        width: 33.33%;
        max-width: none;
        display: inline-block;
        vertical-align: top; } }
  .b-news_footer .b-news__title, .b-news_footer .b-news__txt {
    text-align: left; }
  .b-news_footer .b-news__img {
    height: 0;
    padding-bottom: 70%;
    border-radius: 10px; }

.footer-form {
  padding: 50px 0;
  background: #007bc3 url(../img/bg-form-bottom.jpg) right no-repeat;
  background-size: cover; }
  @media (min-width: 1200px) {
    .footer-form {
      background-position: center;
      padding: 130px 0 110px; } }

@media (min-width: 1200px) {
  .b-form_footer {
    padding-left: 30%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center; } }
@media (min-width: 1200px) {
  .b-form_footer .b-form__form {
    flex: 1 0 440px; } }
.b-form_footer .b-form__title {
  text-align: center;
  font-family: "Bebas";
  color: white;
  margin-bottom: .5em;
  font-size: 42px; }
  @media (min-width: 1200px) {
    .b-form_footer .b-form__title {
      text-align: left;
      font-size: 53px;
      margin-bottom: 20px; } }
.b-form_footer .b-form__body {
  position: relative;
  max-width: 330px;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .b-form_footer .b-form__body {
      max-width: 440px; } }
.b-form_footer .b-form__input {
  font-size: 13px;
  padding: 15px 160px 15px 20px; }
  .b-form_footer .b-form__input::-webkit-input-placeholder {
    color: lightgrey;
    text-transform: uppercase; }
  .b-form_footer .b-form__input:-moz-placeholder {
    color: lightgrey;
    text-transform: uppercase; }
  .b-form_footer .b-form__input::-moz-placeholder {
    color: lightgrey;
    text-transform: uppercase; }
  .b-form_footer .b-form__input:-ms-input-placeholder {
    color: lightgrey;
    text-transform: uppercase; }
  @media (min-width: 768px) {
    .b-form_footer .b-form__input {
      padding: 20px 200px 20px 30px; } }
.b-form_footer .b-form__btn {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  font-size: 10px;
  line-height: 27px; }
  @media (min-width: 768px) {
    .b-form_footer .b-form__btn {
      font-size: 14px;
      line-height: 36px;
      padding: 10px 35px; } }
.b-form_footer .b-form__txt {
  color: white;
  margin-top: 20px;
  padding: 0 40px;
  font-size: 20px;
  line-height: 1;
  text-align: center; }
  @media (min-width: 1200px) {
    .b-form_footer .b-form__txt {
      text-align: left;
      margin-left: 30px;
      margin-top: 0;
      line-height: 1.2; } }
.b-form_footer .b-form__tel {
  display: block;
  font-weight: 500;
  font-size: 36px;
  font-family: "Bebas";
  line-height: 1.2;
  margin: 0 auto;
  max-width: 220px;
  white-space: nowrap;
  position: relative; }
  .b-form_footer .b-form__tel:after {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    background: url("../img/icons-bundle.png") center no-repeat;
    background-position: 0px 0px;
    top: 50%;
    transform: translateY(-50%); }
  .b-form_footer .b-form__tel:after {
    width: 25px;
    height: 25px;
    background-position: -68px 0px; }
  @media (min-width: 1200px) {
    .b-form_footer .b-form__tel {
      font-size: 42px;
      margin-left: 0;
      line-height: 1.4; } }
  .b-form_footer .b-form__tel:after {
    left: -35px; }

/*# sourceMappingURL=main.css.map */
