include ../mixins/nav

doctype html
html(lang="en")
head
	meta(charset="UTF-8")
	meta(name="viewport", content="width=device-width, initial-scale=1.0")
	meta(http-equiv="X-UA-Compatible", content="ie=edge")
	link(rel="icon", href="favicon.ico")
	link(type="text/css", rel="stylesheet", href="js/magnific-popup/magnific-popup.css")
	link(type="text/css", rel="stylesheet", href="js/slick/slick.css")
	link(type="text/css", rel="stylesheet", href="css/main.css")
	script(type="text/javascript" src="js/jquery.js")
	script(type="text/javascript" src="js/plugins.js")
	script(type="text/javascript" src="js/jquery.inputmask.bundle.min.js")
	script(type="text/javascript" src="js/magnific-popup/jquery.magnific-popup.min.js")
	script(type="text/javascript" src="js/slick/slick.min.js")
	script(type="text/javascript" src="js/main.js")

	block PAGE_TITLE
		title DEFAULT VALUE

body
	include ../components/content/header

	block CONTENT

	include ../components/content/footer
