.b-get-calc
	.container
		.b-get-calc__inner
			.b-get-calc__caption Получите расчет стоимости
			.b-get-calc__text и узнайте срок выполнения заказа прямо сейчас
			a.b-get-calc__btn.btn_c2(href="#") Получить расчет