.main-slider
	.main-slider__inner.js-main-slider
		.main-slider__item(style="background-image:url(img/main-slide.jpg)")
			.container
				.main-slider__title Печать на<br>футболках
				.main-slider__desc логотипы, надписи,<br>фотографии - от 1 шт.
				.main-slider__btn.btn Подробнее
		.main-slider__item(style="background-image:url(img/main-slide.jpg)")
			.container
				.main-slider__title Печать на<br>футболках
				.main-slider__desc логотипы, надписи,<br>фотографии - от 1 шт.
				.main-slider__btn.btn Подробнее
		.main-slider__item(style="background-image:url(img/main-slide.jpg)")
			.container
				.main-slider__title Печать на<br>футболках
				.main-slider__desc логотипы, надписи,<br>фотографии - от 1 шт.
				.main-slider__btn.btn Подробнее

