.main-slider
	.main-slider__inner.js-main-slider
		.main-slider__item(style="background-image:url(img/main-slide.jpg)")
			.container
				.main-slider__inside
					.main-slider__title Печать на<br>футболках
					.main-slider__desc логотипы, надписи,<br>фотографии - от 1 шт.
					.main-slider__btn.btn Подробнее
		.main-slider__item(style="background-image:url(img/main-slide.jpg)")
			.container
				.main-slider__inside
					.main-slider__title Печать на<br>футболках
					.main-slider__desc логотипы, надписи,<br>фотографии - от 1 шт.
					.main-slider__btn.btn Подробнее
		.main-slider__item(style="background-image:url(img/main-slide.jpg)")
			.container
				.main-slider__inside
					.main-slider__title Печать на<br>футболках
					.main-slider__desc логотипы, надписи,<br>фотографии - от 1 шт.
					.main-slider__btn.btn Подробнее
	.main-slider__arrows
		span.main-slider__arrow.main-slider__arrow-prev
		span.main-slider__arrow-current.js-main-slider-current 1
		span.main-slider__arrow-divider /
		span.main-slider__arrow-total.js-main-slider-total 5
		span.main-slider__arrow.main-slider__arrow-next

