.b-grid.b-grid_products
	.b-grid__inner
	.b-grid__title Печать на одежде, нанесение логотипа и фирменной символики
	.b-grid__body
		- var n = 0;
		.b-grid__items
			while n < 12
				.b-grid-item
					.b-grid-item__inner
						.b-grid-item__img
						.b-grid-item__caption Печать на футболках
						a.b-grid-item__btn.btn(href="#") Подробнее
				- n++
