.b-why-choose
	.container
		.b-why-choose__title.block-title Почему стоит выбрать нашу компанию?
		.b-why-choose__body
			.b-why-choose__items.js-why-choose
				.b-why-choose__item.b-why-choose__item_1
					.b-why-choose__caption.js-why-choose-caption
						span Профессиональная печать «под ключ»
					.b-why-choose__img-wrap
						.b-why-choose__num 1
						.b-why-choose__img
					.b-why-choose__txt Профессиональная печать на одежде и сувенирах «под ключ» от разработки макета до доставки в удобное для Вас место и время
				.b-why-choose__item.b-why-choose__item_2
					.b-why-choose__caption.js-why-choose-caption
						span Высокое качество печати
					.b-why-choose__img-wrap
						.b-why-choose__num 2
						.b-why-choose__img
					.b-why-choose__txt Высочайшее качество печати, подтвержденное заказами известных компаний
				.b-why-choose__item.b-why-choose__item_3
					.b-why-choose__caption.js-why-choose-caption
						span Сроки от 1-го дня
					.b-why-choose__img-wrap
						.b-why-choose__num 3
						.b-why-choose__img
					.b-why-choose__txt Кротчайшие сроки изготовления: от 1-го дня, так как мы являемся непосредственно производителем
				.b-why-choose__item.b-why-choose__item_4
					.b-why-choose__caption.js-why-choose-caption
						span Эксклюзивные виды печати
					.b-why-choose__img-wrap
						.b-why-choose__num 4
						.b-why-choose__img
					.b-why-choose__txt «арома» печать; - 3D объемная печать лаком; - интерферентное, термохромное и бархатное покрытие изделий; - печать блёстками, «золотом» и «серебром»
				.b-why-choose__item.b-why-choose__item_5
					.b-why-choose__caption.js-why-choose-caption
						span Удобство и сервис
					.b-why-choose__img-wrap
						.b-why-choose__num 5
						.b-why-choose__img
					.b-why-choose__txt Удобная форма оформления заказа через сайт и оперативная поддержка квалифицированных специалистов при возникновении вопросов с выбором способа печати и оформлении заказа
