.b-partners-logo
	.b-partners-logo__body
		- var n = 1;
		.b-partners-logo__items.js-partners-logo
			while n < 7
				.b-partners-logo__item
					img(src="img/tmp/logo-"+n+".png")
				- n++
		.b-partners-logo__arrow-prev
		.b-partners-logo__arrow-next
