.b-grid.b-grid_services
	.b-grid__title Товары под нанесение логотипов
	.b-grid__body
		- var n = 0;
		.b-grid__items
			while n < 14
				.b-grid-item
					.b-grid-item__inner
						.b-grid-item__img
						.b-grid-item__caption Печать на футболках
						a.b-grid-item__btn.btn_c2(href="#") Подробнее
				- n++
