- var linkList = ['ПромПечать','Услуги печати','Товары','Прайс-лист','Доставка','Примеры работ','Контакты']

.header
	.header__inner
		.container
			.header__top
				.header__logo
					img(src="img/logo-header.png", alt="")
					.header__logo-txt #[strong Минимальный заказ] 1000 #[span.rub P]
				.header__center
					.header__tagline Нанесение логотипов и символики на одежду и сувениры оптом сроком от 1-го дня с доставкой по Москве и России
					.header__search
						form.header__search-form(role="search", method="get", action="/")
							input.header__search-input(type="search", placeholder="Поиск: например, сигнальные жилеты", value="", name="s")
							button.header__search-btn.btn.btn_c1.btn_search(type="submit")
								span.header__search-form-txt Найти
				.header__right
					a.header__email(href="mailto:info@prompechat.ru") info@prompechat.ru
					a.header__tel(href="tel:84996479053") 8 (499) 647-90-53
					a.header__call-btn.btn.btn_c2.js-btn-call Заказать звонок
				a.mmenu-btn.js-mmenu-btn
					span
					span
					span
	.header__menu-wrap
		.container
			+nav(linkList, 1)
	
			//- include ../../mixins/menu-top.pug