.sidebar
	.b-widget.b-widget_services
		.b-widget__title Услуги
		.b-widget__body
	.b-widget.b-widget_products
		.b-widget__title Товары
		.b-widget__body
	.b-widget.b-widget_news
		.b-widget__title Новости
		.b-widget__body