extends ../templates/main-layout

block PAGE_TITLE
	title Главная - Иваныч

block CONTENT
	.main-layout
		include ../components/slider-front.pug
		include ../components/block-get-calc.pug
		.content__inner
			.container
				.content__wrap
					.main-layout__sidebar
						include ../components/content/sidebar.pug
					.main-layout__content
						include ../components/content/block-grid-products.pug
						include ../components/content/block-grid-services.pug
